{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}

<!-- <form method="post">
  {{ form.csrf_token }}
    <h3 align="center">Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
          type="text"
          id="email"
          name="email"
          class="form-control"
          placeholder="Enter Email"
        />
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          name="password"
          class="form-control"
          placeholder="Enter Password"
        />
        <br />
        <div align="center">
          <button class="btn btn-primary" type="submit">Login</button>
        </div>
    </div>
</form> -->

<form method="POST" enctype="multipart/form-data">
  {{ form.csrf_token }}

  <br/>
  {{ form.email.label(class="form-label") }}
  {{ form.email(class="form-control") }}

  {{ form.password.label(class="form-label") }}
  {{ form.password(class="form-control") }}
      
  <br/>
  {{ form.submit(class="btn btn-secondary") }}

</form>

{% endblock %}